body {
    background-color: #CAE6C7;
}
.logo img {
    width: 100px;
    height: 100px;
}

/* Bootstrap Nav */
.brandImage {
    height: 30px;
}
.navigationIcons {
    margin-top: -36px;
}

.nav svg {
    margin-top: 10px;
    margin-right: 30px;
}

/* Signup */
#addressBlock {
    display: none;
}
#map {
    height: 400px;
}

/* Pickup */
#savePickup, #noteButton {
    width: 100%;
}

.add-quantity input {
    text-align: center;
}

.add-quantity label {
    margin-left: -3em;
}

#pounds {
    text-align: center;
}

.input-group-btn {
    vertical-align: bottom;
}

.containerName {
    margin-left: 1em;
    margin-top: 8px;
}

.menu {
    font-size: 2em;
}

/* Collections */
.customerAddress {
    border: 1px solid purple;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
}
