body {
    background-color: #CAE6C7;
}
.bigLogo {
    height: 100px;
    width: 100px;
    background-color: rgb(66, 131, 101);
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    padding-top: 25px;
    font-size: 3em;
    padding-left: 10px;
  }

.smallLogo {
    height: 50px;
    width: 70px;
    background-color: rgb(66, 131, 101);
    color: #FFFFFF;
    display: inline-block;
    padding-top: 10px;
    font-size: 2em;
    padding-left: 5px;
    margin-top: 10px;
  }

/* Boostrap Helps/Mods */
.row-spaced {
    height: 2em;
}

/* Bootstrap Nav */
.brandImage {
    height: 30px;
    margin-top: 25px;
    margin-right: 10px;
}
.navigationIcons {
    margin-top: -36px;
}

.nav svg {
    margin-top: 10px;
    margin-right: 30px;
}

.shim {
    height: 8em;
}

@media only screen and (max-width: 600px) {

    .navHiRes { display: none !important; }
    .nav > li > a {
        padding: 4px;
    }
    .footer { display: none;}
}

.navbar-collapse.collapse {
    display: block!important;
}
  
.navbar-nav>li, .navbar-nav {
    float: left !important;
}
  
.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}
  
.navbar-right {
    float: right!important;
}

/* footer */
.social {
    padding: 10px;
    text-align: center;
    background-color: #FFF;
}

/* Signup */
#addressBlock {
    display: none;
}
#map {
    height: 400px;
}

/* Pickup */
#savePickup, #noteButton {
    width: 100%;
}

.add-quantity input {
    text-align: center;
}

.add-quantity label {
    margin-left: -3em;
}

#pounds {
    text-align: center;
}

.input-group-btn {
    vertical-align: bottom;
}

.containerName {
    margin-left: 1em;
    margin-top: 8px;
}

.menu {
    font-size: 2em;
}

/* Collections */
.customerAddress {
    border: 1px solid purple;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
}

/* Bootstrap Mods */
.form-group.radio > label {
    font-weight: bold;
    padding-left: 0px;
}
